* {
	padding: 0;
	margin: 0;
}

html {
	background-color: orange;
}
#container {
	position: relative;
	width: 300px;
	border: 3px solid #666666;
	margin: 10px auto;
	border-radius: 5px;
	background-color: #e1e1e1;
}
h1 {
	text-align: center;
	color: #660000;
	height: 45px;
	font-size: 30px;
	padding: 25px 5px 5px 10px;
}

input[type=text] {
	position: relative;
	display: block;
	width: 90%;
	margin: 12px auto 0px auto;
	font-size: 20px;
	border: 2px solid lightgrey;
	background-color: #cccccc;
}

input[type=button] {
	position: relative;
	background-color: #b3b3b3;
	width: 20%;
	margin: 2%;
	font-size: 20px;
	border-radius: 25%;
}

input[type=button]:hover {
	background-color: #8c8c8c;
}

#showNotesBtn {
	margin: 5px;
	padding: 2px 4px;
	border-radius: 4px;
	border: 2px solid gray;
}
#mouseTest {
	border: 1px solid black;
	width: 200px;
	height: 300px;
	background-color: red;
}
/* doesn't work */
button:focus {  
	outline: 0;
	outline: none;
	box-shadow: none !important;
}

input[name="output"] {
	border-style: inset;
	padding: 0 0 0 5px;
}

input[type="button"] {
	border: 2px solid darkgray;
	border-style: outset;
	outline: none;
	
}
