.footer-container {

	/*position           : absolute;*/
	padding-top        : 150px;
	display            : grid;
	margin             : auto;
	width              : 80%;
	/*grid-template-columns : 200px 200px 200px;*/
	grid-template-rows : auto;
	justify-content    : space-evenly;
	top                : 0;
	/*height             : 100px;*/
	align-content      : center;
	/*grid-gap              : 10px;*/
	/*padding               : 10px;*/

}

.footer-item {

	background-color : rgba(255, 255, 255, 0.8);
	/*border           : 1px solid rgba(0, 0, 0, 0.8);*/
	padding          : 5px;
	font-size        : 11px;
	/*text-align       : center;*/
	width            : 250px;
}


#container {
	width  : 90%;
	margin : 0 auto;
}
#container .responsive {
	text-align : center;
}
@media screen and (max-width : 420px) {
	#container .responsive {
		text-align : left;
	}
}

#logo {
	display         : block;
	width           : 110px;
	height          : 110px;
	margin          : 0 auto;
	/*background: url(../images/osf-logo.png) no-repeat;*/
	background-size : 100%;
	text-indent     : -999em;
	border-right    : 1px solid rgba(255, 255, 255, 0.25);
}

#title {
	line-height : 1;
	font-size   : 34px;
}


/*#description {*/
/*	font-size: 15px;*/
/*}*/


#login .row {
	padding : 10px 0;
}
#login .need-help {
	float      : right;
	text-align : right;
}

#login label {
	display       : block;
	margin-bottom : 2px;
}
#login .check label {
	display : inline;
}
#login input[type=text],
#login input[type=email],
#login input[type=password] {
	font-size : 1.4em;
	padding   : 5px;
}
#login .btn-oauth-submit {
	display               : inline-block;
	outline               : none;
	-webkit-appearance    : none;
	background-image      : linear-gradient(to bottom, #5cb85c 0, #419641 100%);
	border                : 1px solid #419641;
	padding               : 10px 20px;
	font-weight           : bold;
	color                 : white;
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}
#login .btn-oauth-reset {
	outline               : none;
	display               : inline-block;
	-webkit-appearance    : none;
	background-image      : linear-gradient(to bottom, #c4c4c4 0, #ababab 100%);
	border                : 1px solid #ababab;
	padding               : 10px 20px;
	font-weight           : bold;
	color                 : black;
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	border-radius         : 4px;
}
#login .btn-oauth-submit:hover {
	cursor             : pointer;
	-webkit-box-shadow : 0px 0px 5px 0px #419641;
	-moz-box-shadow    : 0px 0px 5px 0px #419641;
	box-shadow         : 0px 0px 5px 0px #419641;
}
#login .btn-oauth-submit:active {
	background-image : linear-gradient(to top, #5cb85c 0, #419641 100%);
}
#login .btn-oauth-reset:hover {
	cursor             : pointer;
	-webkit-box-shadow : 0px 0px 5px 0px #ababab;
	-moz-box-shadow    : 0px 0px 5px 0px #ababab;
	box-shadow         : 0px 0px 5px 0px #ababab;
}
#login .btn-oauth-reset:active {
	background-image : linear-gradient(to top, #c4c4c4 0, #ababab 100%);
}


.row .btn-alt-login {
	/*position              : relative;*/
	/*outline               : none;*/
	-webkit-appearance    : none;
	/*width                 : 100%;*/
	/*text-decoration       : none;*/
	/*font-size             : 12px;*/
	/*background-image      : linear-gradient(to bottom, #fff 0, #e0e0e0 100%);*/
	/*border                : 1px solid #ababab;*/
	/*color                 : black;*/
	-webkit-border-radius : 4px;
	-moz-border-radius    : 4px;
	/*border-radius         : 4px;*/
	/*display               : inline-block;*/
	/*padding               : 13px 0 13px 0;*/
	/*text-align            : center;*/
}

.row .btn-alt-login .label-login {
	font-size   : 1.2em;
	opacity     : 0.75;
	white-space : nowrap;
	/*padding-left : 44px;*/
}

.row .btn-alt-login:hover {
	cursor             : pointer;
	-webkit-box-shadow : 0px 0px 5px 0px #ababab;
	-moz-box-shadow    : 0px 0px 5px 0px #ababab;
	box-shadow         : 0px 0px 5px 0px #ababab;
}

.row .btn-alt-login:active {
	background-image : linear-gradient(to top, #fff 0, #e0e0e0 100%);
}


#content {
	/*overflow                           : hidden;*/
	background                         : #f7f7f7;
	padding                            : 15px;
	width                              : 300px;
	margin                             : 0 auto;

	-webkit-border-bottom-right-radius : 0;
	-webkit-border-bottom-left-radius  : 0;
	-moz-border-radius-bottomright     : 0;
	-moz-border-radius-bottomleft      : 0;
	-webkit-box-shadow                 : 0 0 8px 0 rgba(0, 0, 0, 0.15);

	border-bottom-right-radius         : 0;
	border-bottom-left-radius          : 0;
	box-shadow                         : 0 0 8px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (max-width : 420px) {
	#content {
		width : 90%;
	}
}


.fsu-alt-logo,
.fsu-logo {
	position     : absolute;
	left         : 0;
	top          : 0;
	border-right : 1px solid #ababab;
	padding      : 6px;
	height       : 32px
}


hr {
	display    : block;
	height     : 1px;
	border     : 0;
	border-top : 1px solid #ccc;
	margin     : 0;
	padding    : 0;
}


.hr-text {
	/*text-align  : center;*/
	line-height : 1em;
	position    : relative;
	outline     : 0;
	border      : 0;
	color       : black;
	/*align-items : center;*/
	height      : 1.5em;
	opacity     : .5;
	font-size   : 1.0em;
}

.hr-text::before {
	content    : '';
	background : linear-gradient(to right, transparent, black, #f7f7f7);
	position   : absolute;
	left       : 0;
	top        : 50%;
	width      : 100%;
	height     : 1px;
}

.hr-text::after {
	content          : attr(data-content);
	position         : relative;
	display          : inline-block;
	color            : black;
	padding          : 0 .5em;
	line-height      : 1.5em;
	background-color : #f7f7f7;
}

.row {
	padding : 0;
	margin  : 0;
	width   : 260px;
}

#fm1 .row input[type=text],
#fm1 .row input[type=email],
#fm1 .row input[type=password] {
	width              : 100%;
	padding            : 5px;
	box-sizing         : border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing    : border-box;
}

#fm1 .row .btn-reset {
	display : none;
}

#inst-login .btn-submit input[type=button],
#fm1 .row .btn-submit {
	outline               : none;
	border-radius         : 3px;
	border                : 1px;
	background-image      : linear-gradient(to bottom, #785563 0, #782f40 50%);
	color                 : white;
	font-weight           : bold;
	width                 : 100%;
	padding               : 14px 2px 14px 2px;
	-webkit-appearance    : none;
	-moz-appearance       : none;
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
}

#inst-login .btn-submit:hover input[type=button],
#fm1 .row .btn-submit:hover {
	cursor             : pointer;
	-webkit-box-shadow : 0px 0px 5px 0px #419641;
	-moz-box-shadow    : 0px 0px 5px 0px #419641;
	box-shadow         : 0px 0px 5px 0px #419641;
}

#inst-login .btn-submit:active input[type=button],
#fm1 .row .btn-submit:active {
	background-image : linear-gradient(to top, #5cb85c 0, #419641 100%);
}

#fm1 .oauth-confirm-header {
	font-size   : 24px;
	font-weight : lighter;
	white-space : nowrap;
}


.bottom-link {
	white-space : nowrap;
	text-align  : center;
}