
.topnav_wrapper {
    display: inline-block;
    width: 100% !important;
    padding: 0 10%;
    margin: 0 auto !important;
    height: 90px;
    text-align: center;
    background-color: #782f40;
}
.navbar_customize {
    color: white;
    /*padding: 0 0 0 0 !important;*/
    height: 90px;
    width: 100%;
    /*max-width: 1300px;*/
    margin: 0 auto !important;
    text-align: center;
    /*display: inline-block;*/
}
#navbar-nav {
    height: 90px;
    width: 100%;
    display: inline-block;
}
.navbar-brand {
    font-family: Noles_Unconquered, "Open Sans", sans-serif;
    /*margin: 0 auto;*/
    color: white;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0 !important;
    height: min-content;
}
#navbar-brand {
    font-size: 4.5rem;
    line-height: 4.5rem;
}
.navbar-brand img {
    /*height: 28px;*/
    /*width: 28px;*/
    padding: 0 0 0 0;
}
.navbar-brand a {
    color: white !important;
    text-decoration: none !important;
    /*margin: 0;*/
    /*padding: 0;*/
}
.navbar-nav {
    padding: 3px 0 1px 0;
}
.nav-link, .nav-item {
    color: white!important;
}
.nav-item {
    color: white;
    margin-top: 9px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer
}
.nav-item a {
    color: white;
    text-decoration: none !important;
}
.nav-item a:hover {
    color: #e7e7e7 !important;
}
.nav-link a {
    color: white !important;
    /*margin-top: 9px!important;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a {
    display: block;
    color: white;
}
.dropdown a:hover {
    color: #e9e9e9;
}
.dropdown-menu {
    display: none;
    position: absolute;
    box-shadow: 0 10px 10px #666;
    background-color: white;
    color: white;
}
.dropdown-menu a {
    color: #555555;
    padding: 2px 0 2px 10px;
}
.dropdown-menu a:hover {
    color: #000000 !important;
}
.dropdown-menu a:focus {
    /*color: #000000 !important;*/
    background-color: #CEB888;
}
nav {
    /*height: 35px !important;*/
    padding: 0 5% !important;
    position: relative;
    display: block;
    float: right;
    /*padding: 5px;*/
}
.navbar {
    background-color: #782f40;
    /*width: 100%;*/
    margin: 0 auto!important;
    padding: 3px 0 0 0;
    min-height: 35px !important;
}
.navbar a:hover {
    color: #717171;
}
@font-face {
    font-family: 'Noles_Unconquered';
    src: url('../fonts/Noles_Unconquered.otf');
}